<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/header.css">
</head>
<body>
<div class="header">
    <img class="multipleFlowers" src="css/images/IMG_5888-removebg-preview.png" alt="">
    <h1>FRENZIES</h1>
   <img class="singleFlower" src="css/images/flower-removebg-preview.png" alt="">
</div>
<hr class="belowHeader">
<nav>
    <a class="navPick" href="">GALLERY</a>
    
    <a class="navPick" href="">NEW</a>
    
    <a class="navPick" href="">EDIT</a>

</nav>
<hr class="belowHeader">



