<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/about.css">
</head>
<%- include('./partials/header.ejs') %> 

<body>
    <div class="container">
        <h2 class="we-know"> We know life sucks sometimes. </h2>
        <br>
        <br>
        <p class="about">
            Finding passion through prosaic life experiences helps us get through. You know what's even better? Being wise enough to write about your life experiences. What quote gives you joie de vivre? Wether it's your own wisdom or someone else's. Post it. 
        </p>
    </div>

<%- include('./partials/footer.ejs') %> 


