<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>POST</title>
</head>
<body>

<h1>Post a Frenzy</h1>
    <div class="container">
        <form action="/frenzies" method="POST"> 
            <label for="title"> Title</label>
            <input type="text" name="title" id="">
            <br>
            <label for="author">Author</label>
            <input type="text" name="author" id="">
            <br>
            <label for="body">Quote</label>
            <input type="text" name="body" id="name" placeholder="">
            <br>
            <input type="submit" value="Post Frenzy">
        </form>
    </div>

    <a href="/frenzies"><button>back to Gallery</button></a>

<%- include('./partials/footer.ejs') %> 