<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>POST</title>
    <link rel="stylesheet" href="/public/css/post.css">
    <%- include('./partials/header.ejs') %> 


</head>
<body>
    <div class="container">
        <form action="/frenzies" method="POST"> 
            <label class="title" for="title"> Title</label>
            <input class="title-box" type="text" name="title" id="" placeholder="Live, Laugh, Love" maxlength="15">

            <br>

            <label class="author" for="author">Author</label>
            <input class="author-box" type="text" name="author" id="author" placeholder="Bessie Stanley" maxlength="25">

            <br>

            <label class="quote" for="body">Quote</label>
            <textarea name="body" id="body" cols="30" rows="8" maxlength="250" placeholder="He has achieved success who has lived well, laughed often, and loved much..."></textarea>
            <br>
            <input class="submit" type="submit" value="POST">
        </form>
    </div>

<%- include('./partials/footer.ejs') %> 
