<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Frenzy</title>
    </head>
    <body>
        <h1>Frenzy show page</h1>
        <nav>
            <a href="/frenzies">Back to Home Page </a>
        </nav>
    </body>
</html>
