.container{ 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.we-know{
    padding-top: 30px;
    white-space:nowrap;
    overflow: hidden;
    /* overflow: hidden; Ensures the content is not revealed until the animation */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15ems;  
    animation: 
      typing 2.5s steps(40 , end),
      blink-caret .55s step-end infinite;
}

@keyframes typing {
    from { width: 0 }
    to { width: 30% }
}

.about{
    /* color: #FF1493; */
    color: black;
    font-family: Arial ;
    font-size: 20px;
    width: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}


