body{
    font-family: Arial;
}

.header{
    display: flex;
    justify-content: center;
    padding-top:10px ;
}

h1{ 
    padding-top:20px ;
    padding-left: 10px ;
    padding-right: 10px;
    font-size: 40px;
    /* color: #FFD700; */
    color: black;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;

}

.caption{
    font-size: 20px;
    /* text-shadow: none; */
    text-shadow: -.35px -.35px 0 #000, .35px -.35px 0 #000, -.35px .35px 0 #000, .35px .35px 0 #000;
    padding-top: none;
    display: flex;
    justify-content: center;
    
}

.multipleFlowers{
    width: 120px;
    height: 120px;
    padding-right: 10px ;

}

.singleFlower{
    width: 100px;
    height: 100px;
    padding-top: 20px;
}

.belowHeader{
    border-top: 2px solid  ;
}

nav{
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

.navPick{
    padding-left: 20px;
    padding-right: 20px;
}

a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-family: Arial Black;
}

body{
    color: black;
}

ul {
    display: grid;
    grid-template-columns:60px;
    grid-template-columns: auto auto auto auto;

}

li{
    color: black;
    text-decoration: none;
    border: 2px solid black;
    border-radius: 6px;
    width: 200px;
    display: grid;
    grid-gap: 15px;
    justify-content: center;
    align-items: center;
    margin: 40px;
    font-family: Arial Black;
    /* flex-wrap: wrap; */
    /* perspective: 1000px; */
}

.post-button{
    display: flex;
    justify-content: center;
}

.post-button-button{
    background-color: white;
    border: 2px solid black;
    border-radius: 4px;
    font-family: Arial Black;
    width: 100px;
    height: 50px;

}