form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 20px;
    font-family: Arial Black;
}


.title{

 
}

.title-box{
    height: 25px ;
}

.author{
    
}

.author-box{
    height: 25px ;

}

.quote{
   
}


.submit{
    background-color: white;
    border: none;
    font-family: Arial Black;
    font-size: 20px;
    position: relative;
    padding-bottom: 30px;
    margin-bottom: 30px;
}

.submit:hover{
    color: #FF1493;
    text-shadow: -.25px -.25px 0 #000, .25px -.25px 0 #000, -.25px .25px 0 #000, .25px .25px 0 #000;
}
